.footer {
  border-top: 1px solid var(--color-border);
}

.container {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  place-items: center;
}

.copyright {
  color: var(--color-text-light);
  font-size: var(--size-sm);
}

.links {
  display: flex;
  gap: var(--space-6);
  align-items: center;
}

.link {
  color: var(--color-text-light);
  font-size: var(--size-sm);
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-text);
}
